/* цвет основного текста var(--title-text-color) rgba(33, 33, 33, 1);*/

/* вторичный цвет rgba(117, 117, 117, 1) */

/* белый цвет rgba(255, 255, 255, 1) */

/* акцент на синий rgba(33, 150, 243, 1)*/

/* цвет фона Героя и Футера rgba(47, 48, 58, 1)  */

/* вторичный цвет фона rgba(245, 244, 250, 1) */

/* основной фон  rgba(245, 245, 245, 1) */

/* вторичный фон кнопки rgb(66, 135, 245) */

/* фон для героя  rgba(47, 48, 58, 0.4) */

/* соцсети rgba(175, 177, 184, 1)*/

/* фон карточки наших работ rgba(47, 48, 58, 0.8) */

/* фон backdrop rgba(0, 0, 0, 0.2) */

/* акцент на вторичный синий rgba(33, 150, 243, 0.9)*/

/* распределение времени cubic-bezier(0.4, 0, 0.2, 1) */

/* бордер хедера  rgba(236, 236, 236, 1)*/

/* бордер формы rgba(33, 33, 33, 0.2)*/

/* button-close бордер  rgba(0, 0, 0, 0.1)*/

/* коментар цвет текста rgba(117, 117, 117, 0.5); */

/* текст цвет placeholder rgba(255, 255, 255, 0.6) */

/* цвет border-form rgba(255, 255, 255, 0.3) */

/* цвет border-form-focus rgba(33, 150, 243, 0) */

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-white-color: rgba(245, 244, 250, 1);
  --background-black-color: rgba(47, 48, 58, 1);
  --background-blue-color: rgb(66, 135, 245);
  --background-hero: rgba(47, 48, 58, 0.4);
  --primary-icon-color: rgba(175, 177, 184, 1);
  --gradient-hero-color: rgba(47, 48, 58, 0.4);
  --secondary-icon-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(238, 238, 238, 1);
  --background-work-kard: rgba(47, 48, 58, 0.8);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --secondary-accent-color: rgba(33, 150, 243, 0.9);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-header: rgba(236, 236, 236, 1);
  --input-border: rgba(33, 33, 33, 0.2);
  --button-close-border: rgba(0, 0, 0, 0.1);
  --comment-text-color: rgba(117, 117, 117, 0.5);
  --placeholder-text-color: rgba(255, 255, 255, 0.6);
  --border-form-color: rgba(255, 255, 255, 0.3);
  --border-form-focus-color: rgba(33, 150, 243, 0);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
